table {
  border-collapse: collapse;
}
tbody tr {
  border: 1px solid;
}
.txtb {
  font-weight: bold;
}
td {
  padding: 10px;
}
tbody tr:nth-child(odd) {
  background-color: rgb(231, 229, 229);
}
img {
  height: 20px;
  border-radius: 10px;
  float:inline-start  ;
}
