*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: auto;
    background-color: lightsalmon;
}
.header{
    display: flex;
    
    justify-content: space-between;
    height: auto;
}
.left-block{
    background-color: lightblue;
    display: flex;
    width: 225px;
    justify-content: space-evenly;

}
.right-block{
    background-color: lightblue;
    display: flex;
    width: 120px;
    flex-flow: row-reverse;
    justify-content: center;
}

.button{
    background-color: blue;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    width: 90px;
    border-style: 1px ;
}

.content{
    margin: auto;
    background-color: blue;
    width: 570px ;
    height: 400px;
}

@media (max-width:550px) {
    .container{
        max-width: 200px;         
    }
    .header{
    width: 200px;
    }
    .button{
        margin-top: 5px;
        margin-bottom: 5px;
        height: 30px;
        width: 60px;
    }
    .right-block{
        background-color: lightsalmon;
        width: 33.3333%;
        justify-content: end;       
    }
    .right-block>.button{
        margin-right: 5px;
    }
    .left-block{
        background-color: lightsalmon;
        width: 66.6666%;
    }
    .content{
        width: 190px;
        height: 300px;
    }
}
