* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  word-spacing: -1ch;
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: inline-block;
  width: calc((100% - 60px) / 4);
  background-color: orange;
  height: 250px;
  word-spacing: normal;
}

.mr-20 {
  margin-right: 20px;
}
.list {
  display: inline-block;
  width: 900px;
  height: 250px;
  margin-top: 20px;
}
.small-item {
  display: block;
  background-color: orange;
  height: calc((100% - 10px) / 2);
}
.mt-10 {
  margin-top: 10px;
}
.s-item {
  display: inline-block;
  width: calc((100% - 60px) / 4);
  height: 250px;
  word-spacing: normal;
}
.pdt-133{
  padding-top: 133px;
}
.txt-top{
  text-align: start;
}