* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  word-spacing: -1ch;
}
.img {
  
  display: block;
  max-width: 205px;
  max-height: 250px;
  width: auto;
  height: auto;
}
.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.section-header {
  word-spacing: normal;
}
.header {
  text-align: center;
  background-color: lightblue;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu-item {
  display: inline;
}
.menu {
  text-align: center;
  background-color: lightcyan;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main,
.asdie {
  display: inline-block;
}
.main {
  word-spacing: normal;
  width: 100%;
}
.item {
  display: inline-block;
  width: 205px;
  background-color: orange;
  word-spacing: normal;
  height: 250px;
}
.mr-20 {
  margin-right: 20px;
}
.list {
  display: block;
}
.list {
  width: 900px;
  height: 250px;
}
